* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url(./assets/pexels-brett-sayles-912364.jpg);
}

header {
  background-color: blue;
}

nav {
  background-color: inherit;
}

nav h1 {
  color: white;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flex;
  justify-content: centerspa;
  flex-direction: column;
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  align-self: center;
}

input {
  border-radius: 5px;
  width: 20%;
  align-self: center;
}

.submit {
  margin-top: 10px;
  border-radius: 5px;
  width: 10%;
  align-self: center;
}

.card {
  width: 18rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.4rem;
  text-align: center;
  background-color: black;
  border-top: 1px solid white;
}

.footer p {
  color: white;
}

.fab {
  margin-left: 1rem;
  font-size: 2rem;
}